.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    width: 80%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.file-link {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 150px;
    vertical-align: middle;
}

.file-type {
    margin-left: 8px;
    vertical-align: middle;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.modal-buttons button {
    width: 48%;
}