input,
textarea {
  font-family: monospace;
  font-size: 1rem;
}

.edit-event {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 16px;
  box-sizing: border-box;
}

.edit-event form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
}

.edit-event label:not(.private-checkbox-label) {
  margin-bottom: 8px;
}

.edit-event input,
.edit-event textarea {
  margin-bottom: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.edit-event textarea {
  resize: vertical;
  min-height: 200px;
}

.edit-event button {
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 1.0rem;
}

.private-checkbox-label {
  display: inline-flex;
  align-items: center;
}

.private-checkbox-label input[type="checkbox"] {
  margin-left: 4px;
  margin-top: 0;
  margin-bottom: 0;
  width: 20px;
}

.edit-event-file-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  background-color: #fff;
  padding: 0px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.edit-event-file-link {
  flex-grow: 1;
  max-width: calc(100% - 150px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 10px;
}

.edit-event-file-type {
  margin-left: 16px;
  width: 120px;
}

.edit-event-add-file-btn {
  margin-top: 4px;
  margin-bottom: 12px;
}

.edit-event-remove-file-btn {
  margin-left: 16px;
}